body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #fff;
    color: #000;
    margin: 20px;
}

header {
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
}

input, select, textarea {
    margin: 5px 0;
    padding: 5px;
    width: 200px;
}

img.project-preview, iframe {
    max-width: 300px;
    margin: 5px;
    user-select: none;
    -webkit-user-drag: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #000;
    padding: 5px;
    text-align: left;
}
